<h1><%=question_header(@question) + " " + t('.title', title: @question.test.title)%></h1>
<%= render 'shared/errors', resource: @question %>

  <%= form_with model: [:admin,@test, @question], data: {turbo: false}, local: true do |form| %>
    <%= form.text_field :body %>
    <%= form.submit %>
  <% end %>
<%= link_to t(".back"), admin_test_path(@question.test_id) %>