<h1><%=test_header(@test) +" "+ Test.model_name.human%></h1>
<%= render 'shared/errors', resource: @test %>

  <%= form_with model: [:admin, @test], data: {turbo: false}, local: true do |form| %>
  <%= form.label :title %>
    <%= form.text_field :title %>
  <%= form.label :level %>
  <%= form.number_field :level, in: 1..10 %>
  <%= form.hidden_field :author_id, :value => current_user.id %>
  <%= form.select(:category_id) do %>
    <% Category.select(:title,:id).distinct.each do |c| -%>
      <%= content_tag(:option, c.title, value: c.id) %>
    <% end %>
  <% end %>
    <%= form.submit %>
  <% end %>
<%= link_to t(".back"), admin_tests_path %>