<h1 class="mt-5"><%= t('.title')%></h1>
<div class="container mb-5">
  <%@tests.each do |test| %>
    <div class="row">
      <div class="col-1"> <%= test.id%></div>
      <div class="col-4"><%=test.title%></div>
      <div class="col-1"><%=test.questions.count%></div>
      <div class="col-4"><%= test.category.title %></div>
      <div class="col-1"><%= button_to t(".start"), start_test_path(test), data: {turbo: false}, class: 'btn btn-primary mb-4' %></div>
    </div>
  <% end %>
</div>